.flex-row {
    display: flex;
}

.event-cards-container {
    display: flex;
    flex-wrap: wrap;
}

.event-cards-container .card {
    flex-basis: 25%;
}

.event-detail {
    display: flex;
    flex-direction: column;
}

.event-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .form-group {
       margin-bottom: 2rem;

       label {
            width: 100%;
       }

       input {
        width: 100%;
       }
    }
}

@media (max-width: 720px) {
    .event-cards-container .card {
        flex-basis: 100%;
    }
}