.flex-row {
    display: flex;
}

.event-cards-container {
    display: flex;
    flex-wrap: wrap;
}

.event-cards-container .card {
    flex-basis: 25%;
}

.event-detail {
    display: flex;
    flex-direction: column;
}

@media (max-width: 720px) {
    .event-cards-container .card {
        flex-basis: 100%;
    }
}